#wrapper {
    width: 100%;
}
#page-wrapper {
    /*--padding: 0 15px;--*/
    min-height: 568px;

}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
    }
}

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;

}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}
.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}
.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}


.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;

    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.main {
    margin:10px 0;
    min-height:400px;
}

.list-group-alternate .active {
    background-color: aliceblue;
    border:1px solid #DDDDDD;
    color:#000000;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}
.table-user-information > tbody > tr > th {
    color:#000000;
    font-size: 19px;
}
.table-user-information > tbody > tr:first-child {
    border-top: 0;
}
.table-user-information > tbody > tr > td {
    border-top: 0;
    font-size: 17px;
}

.title {
    color:black;
    font-size: 18px;
}

.red {
    color:red;
    font-size: 18px;
}
.blue {
    color:blue;
}

.panel-default > .panel-heading {
    padding:10px;
}

.custom-table{
    border: 1px solid #eee;
    padding: 5px;
}

.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 10px !important;
    font-size: .9em;
    color: #000000;
    border-top: none !important;
}

.btn {
    border-radius: 3px;
    outline: none;
}

.space {
    padding-top: 20px;
    padding-bottom: 20px;
}

label.control-label {
    font-weight: 400;
}

h1 a.navbar-brand {
    background: #009798;
}

.green {
    font-weight:100;
    color:#009798;
}
.black {
    color:#000000;
    font-weight:300;
}

.banner h2 a {
    color: #009798;
}

.banner h2 span {
    color: #000;
}

.hvr-bounce-to-right {
    background:white;
}

.hvr-bounce-to-right:hover i.nav_icon ,
.hvr-bounce-to-right:focus i.nav_icon,
.hvr-bounce-to-right:active i.nav_icon{
    color:#fff;
}

h1,h2,h3,h4,h4,h6 {
    font-weight: 200;
}

.table-bordered {
    border: 1px solid #cccccc;
}

.form-control {
    border:1px solid #cccccc;
}

.form-control::-webkit-input-placeholder { font-weight:200; color:#cccccc}
.form-control:-moz-placeholder { font-weight:200; color:#cccccc}
.form-control::-moz-placeholder { font-weight:200; color:#cccccc}
.form-control:-ms-input-placeholder { font-weight:200; color:#cccccc}

.checkbox-inline label, .checkbox-inline1 label, .form-group label {
    font-weight: 300;
}

.table > thead > tr > th {
    font-weight:500;
}

.table td, .table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
    font-weight:400;
}